*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    background: var(--bg-color);
    font-family: Cambria;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 100%;
    max-width: 1180px;
    min-height: 100%;
    padding: 20px;
}
section#game-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 20px;
    padding: 20px 0;
}
article{
    aspect-ratio: 5 / 3;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border: var(--card-border);
    border-radius: 5px;
    padding: 20px;
}
article img{
    user-select: none;
}
article img.portrait{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
    mask-image: linear-gradient(to bottom, black 40%, transparent);
}
article *:not(.portrait){
    z-index: 2;
}
article h3{
    width: fit-content;
    font-size: 1.25rem;
}
article a{
    display: flex;
    gap: .25rem;
    align-items: center;
    color: var(--text-color-soft);
}
article a img{
    width: 1rem;
    height: 1rem;
    filter: invert(1);
}